
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


body{
    background-image: url(image.jpeg);
    background-position: center;
    height: 100vh;
    background-size: cover;
    width: 100%;
}
.container{
    width: 100%;
    height: auto;
}

header{
    background-color: #000000;
   
    height: 10vh;
    text-transform: uppercase;
}
.logo{float: left;
    color: tomato;
    font-size: 30px;
    font-weight: 700;
      margin-top: 8px;
      margin-left: 40px;
   
 } 
  .menu{
      float: right;
      width: 40%;
      display: flex;justify-content: space-around;
      margin-top: 15px;
      margin-right: 20px;
   
     
  }
.menu a{font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding:10px;
    color: white;   
    background-position: center;
    font-weight: bold;
}

   .menu a:hover{
        background: #00b894 ;
        color:black;
    }

main{
    width: 100%;
    height: 75vh;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center; 
   color: white;
}
section h1{
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 25px;
}
section h3{
    font-size: 35px; font-weight: 200;
    margin: 30px 0px 20px 0px;
}
section a{padding: 12px 30px;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 700;
    transition: all .5s ease;
    
} section .btn1{
    background: tomato;
    color: #000;
}
    section .btn1:hover{
        background: #00b894;
    color: white;
}

    
    
 section .btn2{
    background:#00b894;
    color: white;
}
section .btn2:hover{  background: tomato;
    color: #000;}