*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{ margin: 0%;
    padding: 0%;
    background-color: rgb(212,211, 211);

}
nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    position: fixed;
    top: 0%;
    width: 100%;
}
nav .left{
    margin-top: 30px;
    margin-left: 15px;
}
nav .left a{
    padding: 4px 20px;
    background-color: rgb(3, 151, 151);
    color: white;
    font-size: 18px;
    text-decoration: none;
}
.left a:hover{
    background-color: gray;
    color: black;
    transition: 1s ease;
    cursor: pointer;
}
.logo{
    margin-left: 13px;
    font-size: 19px;
}

nav ul{
    display: flex;
    align-items: center;
    margin-right: 13px;
}

ul li{
    list-style: none;
}
ul li a{
    color: white;
    text-decoration: none;
    margin-inline: 20px;
    font-size: 20px;
    
}
ul li a:hover, ul li a.active{
    color: aqua;
    font-weight: 600;
}

.icon{
    display: none;
    align-items: center;
    font-size: 30px;
}
 

.main{
display: flex;
justify-content: space-around;
margin-top: 150px;
}

.main .text h1{
    font-size: 55px;
    color: aqua;

}
.main img{
    justify-content: flex-end;
    width: auto;
    height: auto;

}
.main .text h2{
    font-size: 33px;
    color: blueviolet;
}

.main .text button{
    width: 120px;
    height: 34px;
    background-color:rgb(3,123,123) ;
    color: white;
    font-size: 18px;
    border: none;
}
.main .text button:hover{
    border: 2px solid rgb(3,123,123);
    background-color: transparent;
    color: black;
    cursor: pointer;
}

.cards{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap:wrap ;

}
.cards .crd{
    margin-inline: 50 px;
    text-align: center;
}

.crd h3{
    margin-top: 3px;
}
.crd img{
    width: 300px ;
    height: 340px;
}

.connect{
    text-align: center;
}

.connect input{
    width: 380px;
    padding: 8px;
    font-size: 18px;
    background-color: transparent;
    margin-top: 11px;
    border: 2px solid black;

}
.connect button{
    width: 130px;
    height: 35px;
    background-color: rgb(3,153,153);
    color: white;
    font-size: 20px;
    border: none;
    margin-top: 22px;
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 33px;
    color: white;
    flex-wrap: wrap;
}

/* itempage */
.itempage{
    display: none;
    margin-top: 33px;
    margin-left: 25px;
    
}
.itempage img{
    width: 400px;

    
}
.itempage a{
    cursor: pointer;
}

.itempage .itemText{
    margin-inline: 24px;
}

.itemText h2{
    color: rgb(1,167,1);
}

.itempage input{
    width: 30px;
    padding: 4px;
    font-size: 20px;
}

.itemText a{
    padding: 4px 20px;
    background-color: orangered;
    color: white;
    font-size: 18px;
    text-decoration: none;

}
.buyPage{
    display: none;
    width: 40%;
    background-color: white;
    padding: 22px;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 40%);
    top: -15%;
    border-radius: 4px;
}

.buyText input{
    width: 95%;
    padding: 7%;
    border: 2px solid black;
    margin-top: 8%;
    font-size: 18px;


}
.buyPage .cross{
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: gray;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;

}
.buyText button{
    width: 120px;
    height: 34px;
    background-color: rgb(1,125,125);
    color: white;
    font-size: 20px;
    border: none;
    margin: 22px;
}

.buyText select{
    padding: 4px;
    font-size: 18px;
}
@media only screen and (max-width: 665px){
    nav ul{
     display: none;
     
    } 
    .icon{
     display: flex;
     margin-right: 12px;
     cursor: pointer;
    }
 
    .showData{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     position: absolute;
     top: 55px;
     background-color: rgb(149,147, 147);
     width: 100%;
     gap: 20px;
     padding: 0%;
     text-align: center;
    }
    .main .text h1{
        font-size: 40px;
    }
    .main .text h2{
        font-size: 24px;
    }
 }
 @media only screen and (max-width: 600px){
    .main img{
        width: 85%;
    }
    .crd img{
        width: 70%;
    }
    .connect input{
        width: 60%;
    }
 }
@media only screen and (max-width: 1000px){
    .main{
        display: block;
        text-align: center;
    }
    .main img{
        margin-top: 20px;
    }



}
